@import "tailwindcss";

@theme {
	--color-uranian-blue: #A0D4EE;
	--color-sky-blue: #6CCCE4;
	--color-moonstone: #38C3D9;
	--color-carribean-current: #217786;
	--color-gunmetal: #092B33;
}

.product-row::-webkit-scrollbar {
  height: 8px;
}

.product-row::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
	display: flex;
  white-space: nowrap;
}

.image-gallery-display {
  mask-image: linear-gradient(black, transparent);
}