
.modal-button {
    transform: translateY(-50%);
}

.modal-button:first-of-type {
    left: 10px;
}

.modal-button:last-of-type {
    right: 10px;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #f78fb37f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #f78fb3;
} 